@charset "UTF-8";
/* -------------------
  COMMON
--------------------*/

// =========================================
// Font family
// =========================================

body {
	font-family: $font-base;
	color: $font-color;
	font-size: 18px;
	line-height: 2.17;
	font-weight: 500;
	position: relative;
	font-feature-settings: "palt";
	letter-spacing: 0.05em;

	@include mq(sm2) {
		font-size: 13px;
	}

	&.noscroll {
		overflow: hidden;
		&:before {
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 1;
		}
	}
}

// =========================================
// CONTROL VIEW ELEMENT
// =========================================

section,
article,
header,
footer,
time {
	display: block;
}

p,
ul,
table {
	margin-bottom: 2em;

	&:last-child {
		margin-bottom: 0;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.6;
	margin-bottom: 0.8em;
	font-weight: bold;

	&:last-child {
		margin-bottom: 0;
	}
}

a {
	transition: $transition;
	cursor: pointer;
	&[href^="tel:"] {
		pointer-events: none;
		@include mq(sm2) {
			pointer-events: auto;
		}
	}
	&:hover {
		opacity: 0.5;
	}
}

img {
	vertical-align: bottom;
	max-width: 100%;
	height: auto;

	&.pc-only {
		display: inline;

		@include mq(sm2) {
			display: none;
		}
	}

	&.sp-only {
		display: none;

		@include mq(sm2) {
			display: inline;
		}
	}
}

.pc-only {
	display: block;

	@include mq(sm2) {
		display: none;
	}
}

.sp-only {
	display: none;

	@include mq(sm2) {
		display: block;
	}
}

.pc-only2 {
	display: inline;

	@include mq(sm2) {
		display: none;
	}
}

.sp-only2 {
	display: none;

	@include mq(sm2) {
		display: inline;
	}
}

@charset "UTF-8";
// ===========================
// ターゲットリンクの位置調整（ヘッダーに被らないように）
// ===========================

$i: 10;
$max: 300;
$step: 5;
$unit: 1px;

@while $i < $max {
	.adj-#{$i}:before {
		content: "";
		display: block;
		height: ($i * $unit); /* 調整したい高さ（固定ヘッダーの高さ） */
		margin-top: -($i * $unit); /* heightと同じ分のネガティブマージン */
		visibility: hidden;
	}
	$i: $i + $step;
}

// ===========================
// 共通幅
// ===========================

$i2: 700;
$max2: 1300;
$step2: 10;

.c-width {
	max-width: 1200px;
	margin: 0 auto;
}

@while $i2 <= $max2 {
	.c-width-#{$i2} {
		max-width: ($i2 * $unit);
		margin: 0 auto;
	}
	$i2: $i2 + $step2;
}

.breadcrumbs {
	font-size: 11px;
	position: absolute;
	width: 100%;
	z-index: 3;
	padding: 20px vw(70);
	@include mq(sm2) {
		right: auto;
		bottom: auto;
		padding: 20px $sp-padding;
	}
	ul {
		display: flex;

		@include mq(sm2) {
			flex-wrap: wrap;
		}

		li {
			color: $blue;
			@include mq(sm2) {
				line-height: 1.5;
			}

			a {
				color: $blue;
			}
			.arrow {
				margin: 0 0.5em;
			}
			&.home {
				display: flex;
				a {
					display: flex;
					align-items: center;
				}
			}
		}
	}

	&.white {
		background: none;
	}
}

.flowing-ttl {
	display: flex;
	width: 100%;
	overflow: hidden;
	&__item {
		flex-shrink: 0;
		white-space: nowrap;
		padding: 0 15px;
		&:nth-child(odd) {
			animation: MoveLeft 60s -30s infinite linear; //40秒かけて-20秒後に無限ループさせる
		}

		&:nth-child(even) {
			animation: MoveLeft2 60s infinite linear; //40秒かけて無限ループさせる
		}
	}
	&.reverse {
		.flowing-ttl__item {
			&:nth-child(odd) {
				animation: MoveLeft 60s -30s infinite linear reverse; //40秒かけて-20秒後に無限ループさせる
			}

			&:nth-child(even) {
				animation: MoveLeft2 60s infinite linear reverse; //40秒かけて無限ループさせる
			}
		}
	}
}

@keyframes MoveLeft {
	0% {
		transform: translateX(100%);
	}
	to {
		transform: translateX(-100%);
	}
}

@keyframes MoveLeft2 {
	0% {
		transform: translateX(0);
	}
	to {
		transform: translateX(-200%);
	}
}

.c-ttl {
	text-align: center;
	margin-bottom: 50px;

	@include mq(sm2) {
		margin-bottom: 35px;
	}

	.en {
		color: $blue;
		font-family: $font-a;
		font-size: 64px;
		font-weight: 500;
		line-height: 1.5;

		@include mq(sm2) {
			font-size: 40px;
			line-height: 1.2;
			margin-bottom: 6px;
		}
	}
	.jp {
		font-size: 20px;
		font-weight: 700;

		@include mq(sm2) {
			font-size: 16px;
		}
	}

	&.left {
		text-align: left;
	}
	&.right {
		text-align: right;
	}
}

.c-btn {
	text-align: center;
	margin-top: 60px;

	&.left {
		text-align: left;
	}
	a {
		border: 1px solid $blue;
		min-width: 320px;
		height: 60px;
		display: inline-flex;
		padding-left: 33px;
		align-items: center;
		color: $blue;
		font-weight: bold;
		position: relative;
		overflow: hidden;

		@include mq(sm2) {
			min-width: auto;
			width: 100%;
		}

		&:before {
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			background: $blue;
			position: absolute;
			left: -100%;
			top: 0;
			transition: $transition;
		}

		&::after {
			font-family: "Font Awesome 6 Free"; /* Font Awesome 6 無料版のフォント名 */
			content: "\f054";
			font: var(--fa-font-solid);

			position: absolute;
			right: 20px;
			top: 50%;
			transform: translate(0, -50%);
			font-size: 20px;
			line-height: 1;
		}
		.label {
			position: relative;
			z-index: 1;
		}

		&:hover {
			opacity: 1;
			color: #fff;
			&:before {
				left: 0;
			}
		}
	}

	&.white {
		a {
			border: 1px solid #fff;
			color: #fff;

			&:before {
				background: #fff;
			}

			&:hover {
				color: $blue;
			}
		}
	}
}

.page-ttl {
	position: relative;
	&-img {
		@include mq(sm2) {
			height: 200px;
		}
		img {
			width: 100%;

			@include mq(sm2) {
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}
	}
	&-txt {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translate(0, -50%);
		color: #fff;
		padding: 0 5vw;
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		@include mq(sm2) {
			top: auto;
			bottom: 30px;
			transform: translate(0, 0);
		}

		.en {
			font-family: $font-a;
			font-size: vw(80);
			font-weight: 500;
			line-height: 1.5;

			@include mq(sm2) {
				font-size: 40px;
			}
		}
		.jp {
			font-size: vw(30);
			font-weight: 700;
			background: $blue;
			padding: 0px 10px;

			@include mq(sm2) {
				font-size: 16px;
			}
		}
	}
}
