@charset "UTF-8";

/* -------------------


  ！！！！！注意！！！！！

  index.cssはSassから生成されていますので、
  直接編集しないようご注意ください

  ！！！！！注意！！！！！


  
--------------------*/

/* -------------------
  VARIABLES
--------------------*/

// Color
$lrpd: calc((100vw - 970px) / 2);
$ls1: 0.1em;
$ls2: 0.2em;
$font-color: #000;
$orange: #ff931e;
$green: #39b54a;
$blue: #005d8b;
$red: #a11d3a;
$yellow: #fff000;
$bg-color: #000;
$transition: all 0.3s ease 0s;
$sp-padding: 20px;
$tb-padding: 10vw;
$box-shadow: 0px 3px 6px
	rgba(
		$color: #000000,
		$alpha: 0.16,
	);

// Font Family
$font-base: "Noto Sans JP", serif;
$font-a: "din-2014", "Noto Sans JP", serif;
$font-b: "Noto Sans JP", serif;
$font-c: "Noto Sans JP", serif;

.font-a {
	font-family: $font-a;
}
.font-b {
	font-family: $font-b;
	font-style: normal;
}

// <weight>: Use a value from 100 to 900
.noto-sans-jp {
	font-family: "Noto Sans JP", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

.DIN-2014-Regular {
	font-family: "din-2014", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.DIN-2014-Italic {
	font-family: "din-2014", sans-serif;
	font-weight: 400;
	font-style: italic;
}

.DIN-2014-Bold {
	font-family: "din-2014", sans-serif;
	font-weight: 700;
	font-style: normal;
}

.DIN-2014-Bold-Italic {
	font-family: "din-2014", sans-serif;
	font-weight: 700;
	font-style: italic;
}
