@charset "UTF-8";

.l-footer {
	text-align: center;
	padding-bottom: 150px;

	&__logo {
		margin-bottom: 20px;
		img {
			width: 230px;
		}
	}
	&__sitepolicy {
		font-size: 16px;
		margin-bottom: 30px;
	}
	&__sns {
		margin-bottom: 20px;
		ul {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 30px;

			li {
				img {
					width: 60px;
				}

				&.youtube {
					img {
						width: 60px;
					}
				}
				&.line {
					img {
						width: 53px;
					}
				}
				&.instagram {
					img {
						width: 53px;
					}
				}
				&.facebook {
					img {
						width: 53px;
					}
				}
				&.x {
					img {
						width: 46px;
					}
				}
			}
		}
	}
	.copyright {
		font-size: 14px;
	}
}

.foot-btn {
	background: url(../images/foot-btn-bg.jpg) no-repeat center / cover;
	text-align: center;
	padding: 36px 20px;
	line-height: 1.9;
	position: sticky;
	width: 100%;
	left: 0;
	bottom: 0;

	@include mq(sm2) {
		display: none;
	}

	&__txt {
		font-size: 28px;
	}
	&__btn {
		font-size: 40px;
		a {
			background: #fff;
			border-radius: 20px;
			box-shadow: 4px 2px 4px rgba($color: #ff931e, $alpha: 1);
			display: inline-flex;
			justify-content: center;
			align-items: center;
			width: 640px;
			height: 70px;
		}
	}
}
