@charset "UTF-8";

.footer-contact {
	background: url(../images/common/footer-contact-bg.jpg) no-repeat center / cover;
	color: #fff;
	padding: 100px 0;

	@include mq(sm2) {
		padding: 60px $sp-padding;
	}

	.c-ttl {
		margin-bottom: 60px;

		@include mq(sm2) {
			margin-bottom: 30px;
		}

		.en {
			color: #fff;
			font-size: 107px;
			font-weight: 400;

			@include mq(sm2) {
				font-size: 50px;
			}
		}
		.jp {
			font-size: 24px;

			@include mq(sm2) {
				font-size: 17px;
			}
		}
	}
	&__list {
		display: flex;
		justify-content: center;
		gap: 50px;

		@include mq(sm2) {
			flex-direction: column;
			gap: 10px;
		}
	}
	&__item {
		margin: 0;

		&.tel {
			text-align: right;

			@include mq(sm2) {
				text-align: center;
			}
			.line-1 {
				font-size: 14px;
				position: relative;
				right: -4px;

				@include mq(sm2) {
					font-size: 3.3vw;
				}
			}
			.line-2 {
				line-height: 1.3;
				display: flex;
				align-items: center;
				gap: 10px;

				@include mq(sm2) {
					justify-content: center;
				}

				.icon {
					position: relative;
					top: 5px;

					@include mq(sm2) {
						img {
							width: 33px;
						}
					}
				}
				.number {
					font-family: $font-a;
					font-size: 60px;

					@include mq(sm2) {
						font-size: 40px;
					}
				}
			}
		}
		&.mail {
			padding-top: 7px;
			a {
				width: 420px;
				height: 87px;
				font-size: 24px;

				@include mq(sm2) {
					width: 100%;
					height: 70px;
					font-size: 18px;
				}
			}
		}
	}
}

.l-footer {
	padding: 100px 0 70px;
	font-size: 15px;

	@include mq(sm2) {
		padding: 60px $sp-padding;
		font-size: 13px;
	}

	&-flex {
		display: flex;
		justify-content: space-between;
		margin-bottom: 60px;

		@include mq(sm2) {
			flex-direction: column;
			gap: 0;
			margin-bottom: 10px;
		}

		&-left {
			@include mq(sm2) {
				text-align: center;
			}

			.logo {
				img {
					width: 267px;

					@include mq(sm2) {
						width: 230px;
					}
				}
			}
			.info {
				line-height: 1.8;
				padding: 21px 0 0 76px;

				@include mq(sm2) {
					padding: 20px 0 0 0px;
				}

				.name {
					font-size: 16px;
					font-weight: bold;
					margin-bottom: 10px;
				}
			}
		}
		&-right {
			padding-top: 80px;

			@include mq(sm2) {
				padding-top: 0px;
			}
		}
	}
	.copyright {
		text-align: center;
		color: $blue;
		font-family: $font-a;
		font-size: 14px;

		@include mq(sm2) {
			font-size: 13px;
		}
	}
}

.fnav {
	display: flex;
	gap: 100px;

	@include mq(sm2) {
		flex-direction: column;
		gap: 0;
		margin-top: 30px;
	}

	&__list {
		margin: 0;
	}
	&__item {
		margin-bottom: 7px;
		@include mq(sm2) {
			display: none;

			&.pp {
				display: block;
				text-align: center;
				font-size: 13px;

				a {
					text-decoration: underline;
				}
			}
		}
	}
}
