@charset "UTF-8";

.l-footer {
	text-align: center;
	padding-bottom: 150px;

	@include mq(sm2) {
		padding-bottom: 40px;
	}

	&__logo {
		margin-bottom: 20px;
		img {
			width: 230px;

			@include mq(sm2) {
				width: vw2(230);
			}
		}
	}
	&__sitepolicy {
		font-size: 16px;
		margin-bottom: 30px;

		@include mq(sm2) {
			font-size: vw2(18);
		}

		a {
			text-decoration: underline;
		}
	}
	&__sns {
		margin-bottom: 20px;
		ul {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 30px;

			@include mq(sm2) {
				gap: 18px;
			}

			li {
				a {
					display: flex;
					align-items: center;
					justify-content: center;
				}

				img {
					width: 60px;

					@include mq(sm2) {
						width: vw2(60);
					}
				}

				&.youtube {
					img {
						width: 60px;

						@include mq(sm2) {
							width: vw2(60);
						}
					}
				}
				&.line {
					img {
						width: 53px;

						@include mq(sm2) {
							width: vw2(53);
						}
					}
				}
				&.instagram {
					img {
						width: 53px;

						@include mq(sm2) {
							width: vw2(53);
						}
					}
				}
				&.facebook {
					img {
						width: 53px;

						@include mq(sm2) {
							width: vw2(53);
						}
					}
				}
				&.x {
					img {
						width: 46px;

						@include mq(sm2) {
							width: vw2(46);
						}
					}
				}
			}
		}
	}
	.copyright {
		font-size: 14px;

		@include mq(sm2) {
			font-size: vw2(17);
		}
	}
}

.foot-btn {
	background: url(../images/foot-btn-bg.jpg) no-repeat center / cover;
	text-align: center;
	padding: 36px 20px;
	line-height: 1.9;
	position: sticky;
	width: 100%;
	left: 0;
	bottom: 0;
	border-top: 5px solid #fff;

	@include mq(sm2) {
		padding: 16px 0;
		border-top: 3px solid #fff;
	}

	&__txt {
		font-size: 28px;

		@include mq(sm2) {
			font-size: vw2(28);
		}
	}
	&__btn {
		font-size: 40px;

		@include mq(sm2) {
			font-size: vw2(40);
		}
		a {
			background: #fff;
			border-radius: 20px;
			box-shadow: 4px 2px 4px rgba($color: #ff931e, $alpha: 1);
			display: inline-flex;
			justify-content: center;
			align-items: center;
			width: 640px;
			height: 70px;

			@include mq(sm2) {
				border-radius: 10px;
				width: vw2(549);
				height: vw2(70);
			}
		}
	}
}
