@charset "UTF-8";

.l-header {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	transition: $transition;
	background: #fff;

	&-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 100%;
		position: relative;
		padding: 20px 5vw;

		@include mq(sm2) {
			padding: 10px 5vw;
		}
	}
	&__logo {
		width: 150px;
		position: relative;
		z-index: 1;
		margin: 0;
		transition: $transition;

		@include mq(sm2) {
			width: 100px;
		}
	}
}

.gnav {
	&__list {
		display: flex;
		align-items: center;
		gap: 40px;

		@include mq(sm2) {
			flex-direction: column;
			align-items: stretch;
		}
	}
	&__item {
		a {
			font-size: 15px;
			display: block;
			text-align: center;
			line-height: 1.5;
			font-weight: bold;

			@include mq(sm2) {
				text-align: left;
			}

			.jp {
				font-size: 20px;
				display: block;
			}
			.en {
				font-size: 13px;
				display: block;
			}
		}
	}
}

@include mq(sm2) {
	// ハンバーガー
	#hamburger {
		display: flex;
		justify-content: center;
		align-items: center;
		position: fixed;
		z-index: 35;
		top: 16px;
		right: 16px;
		width: 30px;
		height: 20px;
		cursor: pointer;
		transition: 1s;

		.inner {
			position: relative;
			width: 100%;
			height: 100%;

			.inner_line {
				display: block;
				position: absolute;
				left: 0;
				width: 100%;
				height: 2px;
				transition: 0.4s;
				background: #000;

				&#line1 {
					top: 0;

					&.active {
						transform: translateY(9px) rotate(-45deg);
					}
				}

				&#line2 {
					top: 50%;
					transform: translate(0, -50%);

					&.active {
						opacity: 0;
					}
				}
				&#line3 {
					bottom: 0;

					&.active {
						transform: translateY(-8px) rotate(45deg);
					}
				}
			}
		}
		&.active {
			background: none;
		}
	}
	#hamburger-menu {
		position: fixed;
		background-size: cover;
		width: 100%;
		height: 100vh;
		top: 0;
		left: 0;
		background-size: cover;
		transition: 0.7s;
		z-index: 11;
		background: rgba($color: #fff, $alpha: 0.9);
		opacity: 0;
		display: none;
		&.active {
			display: block;
			opacity: 1;
			animation: fadeIn 0.3s ease-in 0s forwards;
		}
		.hamburger-menu-inner {
			overflow: auto;
			height: 100vh;
			display: block;
			padding: 80px 30px 110px;

			.fnav {
				padding: 0;
				margin: 0;
			}
		}
	}
}

@keyframes fadeIn {
	0% {
		display: none;
		opacity: 0;
	}

	1% {
		display: block;
		opacity: 0;
	}

	100% {
		display: block;
		opacity: 1;
	}
}
