@charset "UTF-8";

.arena-kv {
	background: url(../images/kv-bg.jpg) no-repeat center / 100% auto;
	width: 100%;
	height: auto;
	aspect-ratio: 2881 / 2735;
	position: relative;

	&__catch {
		width: 100%;
		max-width: 1336px;
		position: absolute;
		left: 50%;
		bottom: -200px;
		transform: translate(-50%, 0);
	}
}

/* --------------------------- */

.arena-info {
	background: url(../images/info-bg.jpg) no-repeat center / 100% auto;
	padding: 300px 0 0;

	&__svg {
		text-align: center;
		margin-bottom: 70px;
		padding: 0 4vw;
		img {
			max-width: 776px;
		}
	}

	&__list {
		display: flex;
	}
	&__item {
		width: 50%;
		text-align: center;
		color: #fff;
		padding: 60px 20px;
		line-height: 1.7;
		display: flex;
		justify-content: center;
		align-items: center;

		.yellow {
			color: $yellow;
		}

		&.item-1 {
			background: $red;

			.line-1 {
				font-size: 80px;
				font-weight: 800;
				line-height: 1;
				margin-bottom: 15px;
			}
			.line-2 {
				font-size: 24px;
				font-weight: 800;
			}
			.line-3 {
				font-size: 18px;
			}
		}

		&.item-2 {
			background: $blue;

			.line-1 {
				font-size: 24px;
				font-weight: 800;

				> span {
					background: #fff;
					color: $blue;
					display: inline-block;
					padding: 0 42px;
				}
			}
			.line-2 {
				font-size: 32px;
				font-weight: 700;

				.number {
					font-size: 80px;
					font-family: $font-a;
					display: inline-block;
					position: relative;
					top: 4px;
					margin: 0 5px;
					line-height: 1;
				}
			}
			.line-3 {
				font-size: 36px;
				font-weight: 800;
			}
		}
	}
}

/* --------------------------- */

.arena-event {
	background: #fff4e8;
	padding: 160px 4vw;
	&-inner {
		max-width: 1190px;
		margin: 0 auto;
		border: 5px solid $orange;
		background: #fff;
		border-radius: 50px;
		overflow: hidden;
	}
	&-header {
		background: $orange;
		color: #fff;
		font-size: 56px;
		text-align: center;
		font-weight: 700;
	}
	&-cnt {
		padding: 60px;

		table {
			line-height: 1.42;
			th {
				font-size: 32px;
				font-weight: 800;
				width: 280px;
				padding: 10px 0;
			}
			td {
				font-size: 24px;
				width: calc(100% - 280px);
				padding: 10px 0;
				padding-top: 16px;
			}
		}
	}
}

/* --------------------------- */

.arena-program {
	padding: 160px 4vw;
	&-inner {
		max-width: 1190px;
		margin: 0 auto;
		border: 5px solid $red;
		background: #fff;
		border-radius: 50px;
	}
	&-header {
		background: $red;
		color: #fff;
		font-size: 56px;
		text-align: center;
		font-weight: 700;

		display: flex;
		gap: 30px;
		justify-content: center;
		flex-direction: row-reverse;
		text-align: center;
		line-height: 1.3;
		padding: 17px 0 20px 114px;

		.floor {
			font-size: 32px;
			background: #fff;
			color: $red;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 114px;
			height: 91px;
			position: relative;
			top: 17px;

			.number {
				font-size: 48px;
			}
		}
		.txt {
			.en {
				font-size: 56px;
				display: block;
			}
			.jp {
				font-size: 32px;
				display: block;
			}
		}
	}
	&-cnt {
		padding: 60px;
		padding-right: 30px;
		background: url(../images/program-bg.jpg) no-repeat center / cover;
		color: $red;
	}
	&__list {
		position: relative;
		padding-left: 50px;
		&::before {
			content: "";
			display: block;
			width: 1px;
			height: 100%;
			background: $red;
			position: absolute;
			left: 0;
			top: 6px;
		}
	}
	&__item {
		display: flex;
		align-items: flex-start;
		position: relative;
		margin-bottom: 100px;

		&::before {
			content: "";
			display: block;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			background: $red;
			position: absolute;
			left: -64px;
			top: 5px;
		}

		.txt {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			gap: 20px;

			.time {
				background: $red;
				color: #fff;
				font-size: 48px;
				line-height: 1.1;
				padding: 0 5px;
				font-family: $font-a;
			}
			.ttl {
				font-size: 40px;
				font-weight: 700;
				line-height: 1.3;

				&.w-100 {
					width: 100%;
				}

				small {
					font-size: 24px;
				}
			}
			.body {
				width: 100%;
				line-height: 1.56;

				.fs-32 {
					font-size: 32px;
				}
			}
		}
		.img {
			flex-shrink: 0;

			img {
				&.w-824 {
					width: calc(824px / 2);
				}
				&.w-788 {
					width: calc(788px / 2);
				}
				&.w-476 {
					width: calc(476px / 2);
				}
				&.w-852 {
					width: calc(852px / 2);
				}
				&.img-2-2 {
					position: absolute;
					right: 0;
					top: 0;
				}
			}
		}
	}
}
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
