@charset "UTF-8";

.index-kv {
	position: relative;
	min-height: 70vh; /* ヒーローの高さ */
	display: grid;
	place-items: center; /* 中央寄せ */
	overflow: clip; /* 余分なはみ出しを隠す */

	@include mq(sm2) {
		min-height: auto;
		height: 80vh;
	}

	&::before {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		background: rgba($color: #004ba0, $alpha: 0.4);
		position: absolute;
		left: 0;
		top: 0;
	}

	&__video {
		width: 100%;
		height: 100%;
		object-fit: cover; /* 画面いっぱいにトリミング */
	}

	&__content {
		color: #fff;
		text-align: center;
		/* 文字の視認性を上げるオーバーレイ(任意) */
		backdrop-filter: brightness(1.05);

		position: absolute;
		bottom: 70px;

		@include mq(sm2) {
			bottom: 40px;
		}
	}

	&__catch {
		.en {
			font-family: $font-a;
			line-height: 1.2;
			font-weight: 500;
			font-size: vw(96);
			margin-bottom: 20px;

			@include mq(sm2) {
				font-size: 10vw;
				margin-bottom: 15px;
			}
		}
		.jp {
			font-weight: 700;
			font-size: vw(36);
			letter-spacing: 0.2em;

			@include mq(sm2) {
				font-size: 4.5vw;
			}
		}
	}
	&__btn {
		margin-top: 60px;

		@include mq(sm2) {
			display: none;
		}

		ul {
			display: flex;
			justify-content: center;
			gap: 30px;

			li {
				margin-top: 0px;
				a {
					height: 70px;
					background: rgba($color: #000000, $alpha: 0.5);

					&:hover {
						background: none;
					}
				}
			}
		}
	}
}

.index-about {
	background: $bg-color url(../images/common/logo-white.svg) no-repeat right 20px bottom 20px / 796px auto;
	padding: 120px 0;

	@include mq(sm2) {
		background: $bg-color url(../images/common/logo-white.svg) no-repeat right 20px bottom 20px / 80% auto;
		padding: 60px $sp-padding;
	}

	&-inner {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 160px;

		@include mq(sm2) {
			flex-direction: column;
			gap: 0;
		}
	}
	.c-ttl {
		.en {
			font-size: 76px;

			@include mq(sm2) {
				font-size: 50px;
			}
		}
		.jp {
			color: $blue;
		}
	}
	&__body {
		position: relative;
		color: $blue;
		&:before {
			content: "";
			display: block;
			width: 1px;
			height: 100%;
			background: $blue;
			position: absolute;
			left: -80px;
			top: 0;

			@include mq(sm2) {
				display: none;
			}
		}
	}
}

.index-strength {
	padding: 120px 0;

	@include mq(sm2) {
		padding: 60px $sp-padding;
	}

	&__lead {
		text-align: center;
		color: $blue;
		margin-bottom: 50px;
		font-size: 26px;
		font-weight: bold;

		@include mq(sm2) {
			font-size: 20px;
			margin-bottom: 30px;
		}

		> span {
			display: inline-block;
			position: relative;
			&:before,
			&:after {
				content: '"';
				position: absolute;
				top: 5px;
				font-family: $font-a;
				font-size: 43px;
				line-height: 1;

				@include mq(sm2) {
					font-size: 30px;
				}
			}
			&:before {
				left: -30px;

				@include mq(sm2) {
					left: -20px;
				}
			}
			&:after {
				right: -30px;

				@include mq(sm2) {
					right: -20px;
				}
			}
		}
	}
	&__list {
		display: flex;
		gap: 30px;

		@include mq(sm2) {
			flex-direction: column;
			gap: 40px;
		}
	}
	&__item {
		width: calc((100% - 60px) / 3);

		@include mq(sm2) {
			width: 100%;
		}

		.img {
			margin-bottom: 15px;
		}
		.txt {
			font-size: 20px;
			font-weight: bold;
			text-align: center;

			@include mq(sm2) {
				font-size: 16px;
			}
		}
	}
}

.index-business {
	background: $bg-color;
	padding: 120px 0;

	@include mq(sm2) {
		padding: 80px $sp-padding;
	}

	&__list {
		display: flex;
		gap: 40px;

		@include mq(sm2) {
			flex-direction: column;
		}
	}
	&__item {
		width: calc((100% - 40px) / 2);

		@include mq(sm2) {
			width: 100%;
		}

		.img {
			margin-bottom: 20px;
		}
		.txt {
			text-align: center;

			.ttl {
				font-size: 24px;
				font-weight: bold;
				margin: 0 0 5px;

				@include mq(sm2) {
					font-size: 18px;
				}
			}
		}
	}
}

.index-recruit {
	background: url(../images/top/recruit-bg.jpg) no-repeat left top / cover;
	padding: 70px 0 190px;
	padding-left: 8vw;
	color: #fff;
	position: relative;

	@include mq(sm2) {
		padding: 80px $sp-padding;
		background: url(../images/top/recruit-bg.jpg) no-repeat right -81vw top / cover;
	}
	@include mq(tb3) {
		background: url(../images/top/recruit-bg.jpg) no-repeat right -20vw top / cover;
	}

	.c-ttl {
		.en {
			font-size: 96px;
			color: #fff;

			@include mq(sm2) {
				font-size: 40px;
			}
		}
		.jp {
			font-size: 30px;

			@include mq(sm2) {
				font-size: 16px;
			}
		}
	}
	.c-btn {
		position: relative;
		z-index: 1;

		@include mq(sm2) {
			margin-top: 30px;
		}
	}
	.flowing-ttl {
		font-size: 238px;
		position: absolute;
		left: 0;
		bottom: 0;
		font-family: $font-a;
		opacity: 0.1;
		font-weight: 500;
		line-height: 1;

		@include mq(sm2) {
			font-size: 150px;
		}
	}
}

.index-safety {
	padding: 120px 0;

	@include mq(sm2) {
		padding: 80px $sp-padding;
	}
	&__list {
		display: flex;
		gap: 40px;

		@include mq(sm2) {
			flex-direction: column;
			gap: 50px;
		}
	}
	&__item {
		width: calc((100% - 40px) / 2);

		@include mq(sm2) {
			width: 100%;
		}

		.img {
			margin-bottom: 25px;
		}
		.txt {
			text-align: center;

			.ttl {
				font-size: 24px;
				font-weight: bold;
				margin: 0 0 15px;

				@include mq(sm2) {
					font-size: 18px;
					margin: 0 0 10px;
				}
			}
		}
		.c-btn {
			margin-top: 40px;
		}
	}
}

.index-news {
	background: $bg-color;
	padding: 120px;

	@include mq(sm2) {
		padding: 80px $sp-padding;
	}

	&-inner {
		display: grid;
		grid-template-columns: auto 1fr;
		grid-template-rows: auto 1fr;
		grid-column-gap: 80px;
		grid-row-gap: 0px;

		@include mq(sm2) {
			display: flex;
			flex-direction: column;
		}
	}
	.c-ttl {
		text-align: left;

		@include mq(sm2) {
			order: 0;
			text-align: center;
			margin-bottom: 10px;
		}
	}
	.c-btn {
		text-align: left;
		margin: 0;
		align-self: end;

		@include mq(sm2) {
			order: 2;
			text-align: center;
			align-self: stretch;
			margin-top: 40px;
		}
	}

	&__list {
		grid-area: 1 / 2 / 3 / 3;
		padding-top: 23px;

		@include mq(sm2) {
			order: 1;
		}
	}
	&__item {
		border-bottom: 1px solid #b8c5d4;

		&:first-child {
			border-top: 1px solid #b8c5d4;
		}

		display: flex;
		position: relative;
		padding: 25px 10px;

		@include mq(sm2) {
			display: block;
			padding: 20px 25px 20px 10px;
		}

		.date {
			color: $blue;
			width: 130px;
			font-weight: 700;

			@include mq(sm2) {
				width: 100%;
			}
		}
		.ttl {
			width: calc(100% - 130px);
			transition: $transition;

			@include mq(sm2) {
				width: 100%;
			}
		}

		/*
		&:before {
			font-family: "Font Awesome 6 Free";
			content: "\f054";
			font: var(--fa-font-solid);

			color: $blue;
			position: absolute;
			right: 10px;
			top: 50%;
			transform: translate(0, -50%);
			font-size: 16px;
			line-height: 1;
			transition: $transition;
		}
		&:hover {
			opacity: 1;

			.ttl {
				color: $blue;
			}
			&:before {
				right: 0;
			}
		}
		*/
	}
}
