@charset "UTF-8";

.arena-kv {
	background: url(../images/kv-bg.jpg) no-repeat center / cover;
	width: 100%;
	height: auto;
	aspect-ratio: 2881 / 2735;
	position: relative;

	@include mq(sm2) {
		background: url(../images/sp/kv-bg.jpg) no-repeat center / cover;
		aspect-ratio: 650/828;
	}

	&__catch {
		width: 100%;
		max-width: 1336px;
		position: absolute;
		left: 50%;
		bottom: -200px;
		transform: translate(-50%, 0);

		@include mq(sm2) {
			bottom: -11px;
			z-index: 1;
		}
	}
}

/* --------------------------- */

.arena-info {
	background: url(../images/info-bg.jpg) no-repeat center / cover;
	padding: 300px 0 0;

	@include mq(sm2) {
		background: none;
		padding: 0;
	}

	&__svg {
		text-align: center;
		margin-bottom: 70px;
		padding: 0 4vw;

		@include mq(sm2) {
			background: url(../images/sp/info-bg.jpg) no-repeat center / cover;
			margin: 0;
			padding: 40px 4vw;
		}

		img {
			max-width: 776px;
		}
	}

	&__list {
		display: flex;

		@include mq(sm2) {
			flex-direction: column;
		}
	}
	&__item {
		width: 50%;
		text-align: center;
		color: #fff;
		padding: 60px 20px;
		line-height: 1.7;
		display: flex;
		justify-content: center;
		align-items: center;

		@include mq(sm2) {
			width: 100%;
			padding: 40px 4vw;
		}

		.yellow {
			color: $yellow;
		}

		&.item-1 {
			background: $red;

			.line-1 {
				font-size: 80px;
				font-weight: 800;
				line-height: 1;
				margin-bottom: 15px;

				@include mq(sm2) {
					font-size: vw2(80);
				}
			}
			.line-2 {
				font-size: 24px;
				font-weight: 800;

				@include mq(sm2) {
					font-size: vw2(24);
				}
			}
			.line-3 {
				font-size: 18px;

				@include mq(sm2) {
					font-size: vw2(18);
				}
			}
		}

		&.item-2 {
			background: $blue url(../images/info-present-icon.svg) no-repeat center / 166px auto;

			@include mq(sm2) {
				background: $blue url(../images/info-present-icon.svg) no-repeat center / 100px auto;
			}

			.line-1 {
				font-size: 24px;
				font-weight: 800;

				@include mq(sm2) {
					font-size: vw2(24);
				}

				> span {
					background: #fff;
					color: $blue;
					display: inline-block;
					padding: 0 42px;
				}
			}
			.line-2 {
				font-size: 32px;
				font-weight: 700;

				@include mq(sm2) {
					font-size: vw2(32);
				}

				.number {
					font-size: 80px;
					font-family: $font-a;
					display: inline-block;
					position: relative;
					top: 4px;
					margin: 0 5px;
					line-height: 1;

					@include mq(sm2) {
						font-size: vw2(80);
					}
				}
			}
			.line-3 {
				font-size: 36px;
				font-weight: 800;

				@include mq(sm2) {
					font-size: vw2(36);
				}
			}
		}
	}
}

/* --------------------------- */

.arena-event {
	background: #fff4e8;
	padding: 160px 4vw;

	@include mq(sm2) {
		padding: 60px 4vw;
	}

	&-inner {
		max-width: 1190px;
		margin: 0 auto;
		position: relative;

		.abillust {
			position: absolute;
			width: 315px;
			right: -50px;
			top: -140px;

			@include mq(sm2) {
				width: vw2(180);
				right: -10px;
				top: -79px;
			}
		}
	}
	&-header {
		background: $orange;
		color: #fff;
		font-size: 56px;
		text-align: center;
		font-weight: 700;
		border-radius: 50px 50px 0 0;
		margin: 0;
		padding: 20px;

		@include mq(sm2) {
			font-size: vw2(56);
			border-radius: 30px 30px 0 0;
			padding: 10px;
		}
	}
	&-cnt {
		padding: 60px;
		border: 5px solid $orange;
		border-radius: 0 0 50px 50px;
		background: #fff;

		@include mq(sm2) {
			padding: 20px;
			border-radius: 0 0 30px 30px;
		}

		table {
			line-height: 1.42;
			th {
				font-size: 32px;
				font-weight: 800;
				width: 280px;
				padding: 10px 0;

				@include mq(sm2) {
					display: block;
					width: 100%;
					font-size: vw2(32);
					padding: 0;
				}
			}
			td {
				font-size: 24px;
				width: calc(100% - 280px);
				padding: 10px 0;
				padding-top: 16px;
				font-size: 24px;

				@include mq(sm2) {
					display: block;
					width: 100%;
					padding: 5px 0 20px;
					font-size: vw2(24);
				}
			}
		}
	}
}

/* --------------------------- */

.arena-program {
	padding: 160px 4vw;

	@include mq(sm2) {
		padding: 60px 4vw;
	}

	&-inner {
		max-width: 1190px;
		margin: 0 auto;
		background: #fff;
		position: relative;

		.abillust {
			position: absolute;
			width: 290px;
			left: -80px;
			top: -260px;

			@include mq(sm2) {
				width: vw2(163);
				left: 0;
				top: -70px;
			}
		}
	}
	&-header {
		background: $red;
		color: #fff;
		font-size: 56px;
		text-align: center;
		font-weight: 700;
		border-radius: 50px 50px 0 0;
		display: flex;
		gap: 30px;
		justify-content: center;
		flex-direction: row-reverse;
		text-align: center;
		line-height: 1.3;
		padding: 17px 0 20px 114px;

		@include mq(sm2) {
			flex-direction: column;
			align-items: center;
			border-radius: 30px 30px 0 0;
			padding: 10px 4vw 20px;
		}

		.floor {
			font-size: 32px;
			background: #fff;
			color: $red;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 114px;
			height: 91px;
			position: relative;
			top: 17px;

			@include mq(sm2) {
				width: vw2(114);
				height: vw2(91);
				font-size: vw2(32);
			}

			.number {
				font-size: 48px;

				@include mq(sm2) {
					font-size: vw2(47);
				}
			}
		}
		.txt {
			margin: 0;
			.en {
				font-size: 56px;
				display: block;
				line-height: 1.3;

				@include mq(sm2) {
					font-size: vw2(48);
					margin-bottom: 10px;
				}
			}
			.jp {
				font-size: 32px;
				display: block;
				line-height: 1.3;

				@include mq(sm2) {
					font-size: vw2(24);
				}
			}
		}
	}
	&-cnt {
		padding: 60px;
		padding-left: 90px;
		padding-right: 30px;
		background: url(../images/program-bg.jpg) no-repeat center / cover;
		color: $red;
		border-radius: 0 0 50px 50px;
		border: 5px solid $red;

		@include mq(sm2) {
			border-radius: 0 0 30px 30px;
			padding: 25px;
		}
	}
	&__list {
		position: relative;
		padding-left: 50px;

		@include mq(sm2) {
			padding-left: 30px;
		}

		&::before {
			content: "";
			display: block;
			width: 1px;
			height: 100%;
			background: $red;
			position: absolute;
			left: 0;
			top: 6px;
		}
	}
	&__item {
		display: flex;
		align-items: flex-start;
		position: relative;
		margin-bottom: 100px;

		@include mq(sm2) {
			flex-direction: column;
			margin-bottom: 40px;
		}

		&:last-child {
			margin-bottom: 0;
		}

		&::before {
			content: "";
			display: block;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			background: $red;
			position: absolute;
			left: -64px;
			top: 5px;

			@include mq(sm2) {
				width: 20px;
				height: 20px;
				left: -40px;
			}
		}

		.txt {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			gap: 20px;

			@include mq(sm2) {
				gap: 10px 20px;
			}

			.time {
				background: $red;
				color: #fff;
				font-size: 48px;
				line-height: 1.1;
				padding: 0 5px;
				font-family: $font-a;

				@include mq(sm2) {
					font-size: vw2(48);
				}
			}
			.ttl {
				font-size: 40px;
				font-weight: 700;
				line-height: 1.3;

				@include mq(sm2) {
					font-size: vw2(40);
				}

				&.w-100 {
					width: 100%;
				}

				small {
					font-size: 24px;
				}
			}
			.body {
				width: 100%;
				line-height: 1.56;

				@include mq(sm2) {
					font-size: vw2(20);
				}

				.fs-32 {
					font-size: 32px;
				}
			}
		}
		.img {
			flex-shrink: 0;
			position: relative;

			@include mq(sm2) {
				margin-top: 20px;
			}

			img {
				&.w-824 {
					width: calc(824px / 2);
				}
				&.w-788 {
					width: calc(788px / 2);
				}
				&.w-476 {
					width: calc(476px / 2);
				}
				&.w-852 {
					width: calc(852px / 2);
				}
				&.img-2-2 {
					position: absolute;
					right: -70px;
					top: -150px;

					@include mq(sm2) {
						width: vw2(300);
						right: calc(-30px - 4vw);
						top: -110px;
					}
				}
			}
		}
		&.item-2 {
			margin-top: 160px;

			@include mq(sm2) {
				margin-top: 0;
			}

			.txt {
				@include mq(sm2) {
					margin-bottom: 50px;
				}
			}
		}
	}
}

/* --------------------------- */

.arena-charm {
	background: #faf4f5;
	padding: 90px 4vw;
	text-align: center;

	@include mq(sm2) {
		padding: 60px 4vw;
	}

	&-header {
		position: relative;
		max-width: 1190px;
		margin: 0 auto;

		.abillust {
			position: absolute;
			width: 220px;
			right: -40px;
			top: -290px;

			@include mq(sm2) {
				width: vw2(140);
				right: 0;
				top: -140px;
			}
		}

		&-flex {
			font-weight: 700;
			display: flex;
			gap: 30px;
			justify-content: center;
			flex-direction: row-reverse;
			text-align: center;
			line-height: 1.3;
			padding: 0 0 0 114px;
			margin-bottom: 50px;

			@include mq(sm2) {
				flex-direction: column;
				align-items: center;
				padding: 0;
				gap: 20px;
				margin-bottom: 20px;
			}

			.floor {
				font-size: 32px;
				background: #fff;
				font-weight: 700;
				color: $red;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 114px;
				height: 91px;
				position: relative;
				top: 3px;
				border: 4px solid $red;

				@include mq(sm2) {
					width: vw2(114);
					height: vw2(91);
					font-size: vw2(32);
					border: 3px solid $red;
				}

				.number {
					font-size: 48px;
					font-family: $font-a;

					@include mq(sm2) {
						font-size: vw2(47);
					}
				}
			}
			.ttl {
				img {
					width: 697px;

					@include mq(sm2) {
						width: vw2(400);
					}
				}
			}
		}
		&__line-1 {
			margin-bottom: 10px;
			> span {
				background: $red;
				color: #fff;
				font-size: 32px;
				display: inline-block;
				padding: 0 40px;
				line-height: 1.9;

				@include mq(sm2) {
					font-size: vw2(32);
					line-height: 1.3;
					display: block;
					padding: 10px;
				}
			}
		}
		&__line-2 {
			font-size: 18px;

			@include mq(sm2) {
				font-size: vw2(18);
			}
		}
	}
	&__img {
		margin-bottom: 40px;

		@include mq(sm2) {
			margin-bottom: 20px;
			overflow-x: auto;
			padding: 20px 0 20px;

			img {
				width: 700px;
				max-width: none;
			}
		}
	}
	&__note {
		font-size: 22px;
		@include mq(sm2) {
			font-size: vw2(22);
		}
	}
}

/* --------------------------- */

.arena-schedule {
	padding: 160px 4vw;

	@include mq(sm2) {
		padding: 60px 4vw;
	}

	&-inner {
		max-width: 1190px;
		margin: 0 auto;
		background: #fff;
		position: relative;

		.abillust {
			position: absolute;
			width: 197px;
			left: -20px;
			top: -216px;

			@include mq(sm2) {
				width: vw2(113);
				left: 0;
				top: -50px;
			}
		}
	}

	&-header {
		background: $green;
		color: #fff;
		text-align: center;
		font-weight: 700;
		border-radius: 50px 50px 0 0;
		line-height: 1.3;
		padding: 17px 0 20px;
		margin: 0;

		@include mq(sm2) {
			border-radius: 30px 30px 0 0;
			padding: 20px 4vw 20px;
		}

		.en {
			font-size: 56px;
			display: block;

			@include mq(sm2) {
				font-size: vw2(48);
				line-height: 1;
				margin-bottom: 10px;
			}
		}
		.jp {
			font-size: 32px;
			display: block;

			@include mq(sm2) {
				font-size: vw2(24);
			}
		}
	}
	&-cnt {
		padding: 60px 40px;
		border-radius: 0 0 50px 50px;
		border: 5px solid $green;

		@include mq(sm2) {
			border-radius: 0 0 30px 30px;
			padding: 30px;
		}

		.comingsoon {
			background: url(../images/comingsoon.svg) no-repeat center / 111px auto;
			min-height: 206px;
			text-align: center;
			color: #e4004f;
			font-family: $font-a;
			font-weight: 700;
			line-height: 1.2;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 60px 0;

			@include mq(sm2) {
				background: url(../images/comingsoon.svg) no-repeat center / 90px auto;
				margin: 0;
			}

			&-inner {
			}

			.line-1 {
				font-size: 52px;

				@include mq(sm2) {
					font-size: vw2(60);
					margin-bottom: 10px;
				}
			}
			.line-2 {
				font-size: 32px;
				@include mq(sm2) {
					font-size: vw2(40);
				}
			}
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
	}
	&__item {
		width: calc((100% - 60px) / 3);

		@include mq(sm2) {
			width: 100%;
		}

		&-header {
			background: $green;
			color: #fff;
			margin: 0;
			border-radius: 20px 20px 0 0;
			text-align: center;
			min-height: 92px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			font-size: 28px;
			line-height: 1.21;
			letter-spacing: 0;

			@include mq(sm2) {
				font-size: vw2(28);
				line-height: 1.4;
				min-height: auto;
				padding: 10px 0;
			}

			.xs08 {
				width: calc(100% / 0.8);
				transform: scale(0.8, 1);
			}
			.xs085 {
				width: calc(100% / 0.85);
				transform: scale(0.85, 1);
			}
			.xs09 {
				width: calc(100% / 0.9);
				transform: scale(0.9, 1);
			}
			.fs24 {
				font-size: 24px;

				@include mq(sm2) {
					font-size: vw2(24);
				}
			}
		}
		&-img {
			margin-bottom: 15px;

			@include mq(sm2) {
				margin-bottom: 10px;
			}

			img {
				width: 100%;
			}
		}
		&-cont {
			.ttl {
				color: $green;
				text-align: center;
				font-size: 20px;
				line-height: 1.25;
				margin-bottom: 18px;
				letter-spacing: 0;

				@include mq(sm2) {
					font-size: vw2(20);
					margin-bottom: 10px;
				}
			}
			.unit {
				@include mq(sm2) {
					font-size: vw2(18);
				}
				h6 {
					background-color: $green;
					color: #fff;
					text-align: center;
					border-radius: 100vh;
					padding: 2px;
				}
				.body {
					line-height: 1.39;
					p {
						margin-bottom: 1.5em;
					}
					&.ta-center {
						text-align: center;
					}
				}
			}
		}
	}
}

/* --------------------------- */

.arena-kidsevent {
	padding: 110px 4vw;
	background: #ffd900;
	text-align: center;

	@include mq(sm2) {
		padding: 40px 4vw;
	}

	&-inner {
		max-width: 1200px;
		margin: 0 auto;
		position: relative;

		.abillust {
			position: absolute;
			width: 173px;
			right: 40px;
			top: -400px;

			@include mq(sm2) {
				width: vw2(110);
				right: 20px;
				top: -120px;
			}
		}
	}

	&__ttl {
		margin-bottom: 40px;

		@include mq(sm2) {
			margin-bottom: 20px;
		}

		img {
			width: 1190px;
		}
	}
	&__list {
		display: flex;
		gap: 50px;

		@include mq(sm2) {
			flex-direction: column;
			gap: 20px;
			margin: 0;
		}
	}
	&__item {
		width: calc((100% - 50px) / 2);

		@include mq(sm2) {
			width: 100%;
		}

		.header {
			position: relative;

			img {
				@include mq(sm2) {
					width: 100%;
				}
			}
		}
		.img {
			margin-top: -90px;

			@include mq(sm2) {
				margin-top: -14vw;
			}

			img {
				width: 492px;

				@include mq(sm2) {
					width: 85%;
				}
			}
		}
		.txt {
			position: relative;
			margin-top: -83px;

			@include mq(sm2) {
				margin-top: -13vw;
			}

			img {
				height: 101px;
				width: auto;

				@include mq(sm2) {
					height: vw2(120);
				}
			}
		}
	}
}

/* --------------------------- */

.arena-kitchencar {
	padding: 160px 4vw 0;
	text-align: center;

	@include mq(sm2) {
		padding: 80px 0 0;
	}

	&-inner {
		max-width: 700px;
		margin: 0 auto;
		position: relative;

		.abillust {
			position: absolute;
			width: 163px;
			left: -250px;
			top: -186px;

			@include mq(sm2) {
				width: vw2(105);
				left: 20px;
				top: -150px;
			}
		}
	}

	&__img {
		position: relative;

		img {
			&.img {
				border-radius: 30px;

				@include mq(sm2) {
					border-radius: 0px;
					width: 200%;
				}
			}
			&.badge {
				position: absolute;
				right: -190px;
				top: -50px;
				width: 264px;

				@include mq(sm2) {
					width: vw2(264);
					right: 20px;
					top: -60px;
				}
			}
		}
	}
}

/* --------------------------- */

.arena-access {
	padding: 140px 4vw 0;
	text-align: center;

	@include mq(sm2) {
		padding: 30px 4vw;
	}

	&-inner {
		max-width: 1200px;
		margin: 0 auto;
		position: relative;

		.abillust {
			position: absolute;
			width: 206px;
			right: 0;
			top: -106px;

			@include mq(sm2) {
				width: vw2(132);
				right: 0;
				top: -112px;
			}
		}
	}
	&__ttl {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 15px;

		@include mq(sm2) {
			gap: 8px;
		}

		.icon {
			img {
				width: 36px;

				@include mq(sm2) {
					width: 23px;
				}
			}
		}
		.txt {
			color: #009c84;
			font-size: 56px;
			font-weight: 700;

			@include mq(sm2) {
				font-size: vw2(56);
			}
		}
	}
	&__txt {
		margin-bottom: 60px;

		@include mq(sm2) {
			margin-bottom: 20px;
		}
	}
	&__map {
		border: 8px solid #009c84;
		border-radius: 40px;
		overflow: hidden;
		margin-bottom: 80px;

		@include mq(sm2) {
			border-radius: 30px;
			border-width: 4px;
			margin-bottom: 30px;
		}

		iframe {
			width: 100%;
			height: auto;
			aspect-ratio: 1190 / 760;

			@include mq(sm2) {
				aspect-ratio: 552 / 710;
			}
		}
	}
	&__note {
		background: #e6e6e6;
		display: inline-block;
		padding: 40px 60px;

		@include mq(sm2) {
			padding: 20px 4vw;
			font-size: vw2(19);
		}
	}
}

/* --------------------------- */

.arena-contact {
	padding: 160px 4vw;
	text-align: center;
	color: $red;
	line-height: 1.9;

	@include mq(sm2) {
		padding: 30px 4vw 60px;
	}

	&-inner {
		max-width: 1200px;
		margin: 0 auto;
		border: 8px solid $red;
		border-radius: 40px;
		padding: 50px 20px;
		position: relative;

		@include mq(sm2) {
			border-radius: 30px;
			border-width: 4px;
			padding: 30px 10px;
		}

		.abillust {
			position: absolute;
			width: 193px;
			left: -40px;
			bottom: -222px;

			@include mq(sm2) {
				width: vw2(100);
				left: 10px;
				bottom: -70px;
			}
		}
	}
	&__line-1 {
		font-size: 24px;

		@include mq(sm2) {
			font-size: vw2(24);
		}
	}
	&__line-2 {
		font-size: 40px;

		@include mq(sm2) {
			font-size: vw2(40);
			line-height: 1.6;
			font-weight: 700;
		}
	}
	&__line-3 {
		font-size: 32px;

		@include mq(sm2) {
			font-size: vw2(32);
		}
	}
}

/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
